*{
    margin: 0;
    padding: 0;
}

/* PROPIEDADES
    margin: porcentajes, unidad de medida ó auto;
    padding: porcentajes, unidad de medida ó auto;
    margin y padding: arriba derecha abajo izquierda;
    border: tamaño estilo color;
    width: unidad de medida ó porcentaje, vw;
    height: unidad de medida ó porcentaje, vh;
 */

 .caja1{
     width: 200px;
     height: 200px;
     background: fuchsia;

     margin: 30px;
     padding: 20px;
 }

.caja2{
    width: 300px;
    height: 300px;
    background: #969696;
    border: 6px dashed #000;
    margin: 0 0 0 50px;
    padding: 30px;
 }

 .caja3{
     width: 400px;
     height: 400px;
     background-color: goldenrod;
     border: 3px dotted #000;
     margin: 30px 0 0 0;
     padding: 50px 0px;
 }

 /* LOS BORDERS PUEDEN SER:
        DASHED, 
        DOUBLE,
        DOTTED,
        SOLID*/
